name: Java CI with Maven

on:
  push:
    branches:
      - main

env:
  API_KEY: ${{ secrets.API_KEY }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  APPLICATION_USER: ${{ secrets.APPLICATION_USER }}
  BASE_URL: ${{ secrets.BASE_URL }}
  LATITUDE: ${{ secrets.LATITUDE }}
  LONGITUDE: ${{ secrets.LONGITUDE }}
  MAX_NUMBER_REQUESTS: ${{ secrets.MAX_NUMBER_REQUESTS }}
  RADIUS: ${{ secrets.RADIUS }}
  START_TIME: ${{ secrets.START_TIME }}
  END_TIME: ${{ secrets.END_TIME }}
  WAIT_TIME: ${{ secrets.WAIT_TIME }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '17'
        cache: maven

    - name: Build with Maven
      run: mvn install -DskipTests

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '17'
        cache: maven

    - name: Build with Maven
      run: mvn clean test
