name: Java CI with Maven

on:
  push:
    branches:
      - main


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      APPLICATION_USER: ${{ vars.APPLICATION_USER }}
      BASE_URL: ${{ vars.BASE_URL }}
      END_TIME: ${{ vars.END_TIME }}
      LATITUDE: ${{ vars.LATITUDE }}
      LONGITUDE: ${{ vars.LONGITUDE }}
      MAX_NUMBER_REQUESTS: ${{ vars.MAX_NUMBER_REQUESTS }}
      RADIUS: ${{ vars.RADIUS }}
      START_TIME: ${{ vars.START_TIME }}
      WAIT_TIME: ${{ vars.WAIT_TIME }}


    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '17'
        cache: maven

    - name: Print Environment Variables
      run: |
        echo "API_KEY: $API_KEY"
        echo "POSTGRES_PASSWORD: $POSTGRES_PASSWORD"
        echo "START_TIME: $START_TIME"

    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots verify
